.homepage{
    font-size: 20px;
    color: blue;
    text-align: center;
    margin-top: 50px;
}

.test {
    font-size: 18px;
    color: green;
    text-align: center;
    margin-top: 20px;
}

.dropdown {
    position: center;
    display: inline-block;
}